/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

* {
    border: 0px;
    margin: 0px;
    padding: 0px;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .color_yellow{
      color: #ffc400 !important
  }
  
  .color_blue{
      color: #00b7ff !important
  }
  
  
  .color_green{
      color: #00d480 !important
  }
  
  .color_pink{
      color: #ff00a1 !important
  }
  
  
  @import "main.scss";
  @import "masonry.scss";
  